
body {
	font-family : Tahoma, Geneva, sans-serif;

  font-weight: 100;
  font-size: 20px;
  line-height: 30px;
  color:white;
  background: #181A1B;
  margin-left : 0px;
  margin-right : 0px;
}


  h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

th {
  background-color: #4CAF50 ;
  color: white;
  padding-left : 7px;
  padding-right : 7px;
}

  tr:hover {background-color: #575757;}

  h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}


  input,
  textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

  input:hover,
  textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

  textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

  button, input[type="submit"] {
  cursor: pointer;
  font-size : 30px;
  border: none;
  background: #4CAF50;
  color: #FFF;
  padding: 40px;
  display:inline-block;
  width:100%;

}

button:hover, input[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

  button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

 input:focus,
textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

.header {/*Classe de l'en tête*/
  background: #4CAF50;

}

nav {/*La balise nav est relative à la barre de navigation entre les pages*/
  position: fixed;/*Position fixée, cela permet que la barre reste au même endroit même en scrollant*/
  z-index: 1;/*Précise l'empilement des objets, 0 correspond à l'image de fond de l'en tête, donc 1 est au dessus ce qui permet d'avoir la barre de navigation au dessus*/
  top: 0;/*Permet a la barre de ne pas prendre en compte la marge du haut*/
  width: 100%;
  height: 35px;
  float: left;
}

nav ul {
  list-style: none;/*Permet d'utiliser la liste html sans les points devant les liens*/
  display:inline-block;
  margin: 0;
  
}

nav ul li {
  display: inline-block;/*Permet de mettre le texte en ligne et que chaque lien soit comme des blocs, si l'on zoom, le lien restera entier et pas coupé*/
  margin: 5px;
  
}

nav a {
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;/*Pas de soulignage*/
  font-size: 1.5em;
  letter-spacing: 1px;/*Espacement des lettres de 1 pixel*/
  transition: .25s ease-in-out;/*Animation au passage de la souris (transition de 0.25 s)*/
}

nav a:hover {/*Lorsque la souris passe sur le lien : */
  color: black;/*le mettre en bleu*/
}


div {
  margin-left:100px;
  margin-right:100px;
}

.header {
  margin-left:0px;
  margin-right:0px;
  padding-top:.5em;
  padding-bottom: .5em;
}


img {
  width: 10%;
  height: auto;
}

td {
  text-align: center; 
  vertical-align: middle;
}

table {
  width : 100%;
}

footer {
  position: absolute;
  bottom: 0;
}
