extends layout/connected
block content
	p Liste des activités
	table()
		thead
			tr
				th Date
				th Description
				th Heure de début
				th Duree
				th Distance
				th Cardio moyenne
				th Cardio min
				th Cardio max
				th Compte
		tbody
			each val in data
				tr
					td= val.date
					td= val.description
					td= val.heureDeDebut
					td= val.duree
					td= val.distance
					td= val.cardio_moyenne
					td= val.cardio_min
					td= val.cardio_max
					td= val.my_account
                   
