extends layout/main
block content
    form(action='valid-connect' method='post')
      .connectcompte
        h1 Connectez vous
        p Merci de remplir ce formulaire pour vous connecter
        hr
        label(for='email')
          b Email
        input(type='text' placeholder='Entrer votre mail' name='email' required='')
        label(for='psw')
          b Mot de passe
        input(type='password' placeholder='Entrez votre mot de passe' name='psw')
        div
          button.connectbtn(type='submit') Se connecter
