extends layout/main
block content
    form(name='create-account', action='/add-account',  method='post')
      div
        h1 Inscrivez vous
        p Merci de remplir ce formulaire pour créer un compte
        hr
        label(for='nom')
          b Nom
        input(type='text' placeholder='Entrer votre nom' name='nom' pattern='[A-Z](?=.*[a-z]).{2,30}' required='')
        label(for='prenom')
          b Prenom
        input(type='text' placeholder='Entrer votre prenom' name='prenom' required='')
        label(for='email')
          b Email
        input(type='text' placeholder='Entrer votre mail' name='email' required='')
        label(for='sexe')
          b Sexe
        select#sexe(name='sexe')
          option(value='masculin')  Masculin
          option(value='feminin')  Feminin
          option(value='autre')  Autre
        br
        label(for='taille')
          b Taille
        input#taille(type='number' placeholder='en cm' name='taille' min='100' max='272')
        label(for='poids')
          b Poids
        input#poids(type='number' placeholder='en kg' name='poids' min='0' max='300')
        label(for='psw')
          b Mot de passe
        input(type='password' placeholder='Entrez un mot de passe sécurisé' name='mdp' minlength='7' maxlength='30' pattern='(?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{7,30}' required='')
        label(for='psw-repeat')
          b Entrer à nouveau le mot de passe
        input(type='password' placeholder='Même mot de passe' name='repeat-mdp' required='')
        label(for='date')
          b Date de naissance
        input(type='date' name='date' required='')
        label
          input(type='checkbox' checked='checked' name='rappeller' style='margin-bottom:15px')
          |  Se rappeller de moi
        p
          | En créant ce compte vous acceptez les
          a(href='conditions') conditions d'utilisations
          | .
        div
          button.creercomptebtn(type='submit') Créer son compte
