extends layout/connected
block content
    form(name='modify', action='/valid-modify',  method='post')
      div
        h1 Modifier mon compte
        p Merci de remplir ce formulaire pour modifier un compte
        hr
        label(for='nom')
          b Nom
        input(type='text' placeholder='Entrer votre nom' name='nom' pattern='[A-Z](?=.*[a-z]).{2,30}' required='')
        label(for='prenom')
          b Prenom
        input(type='text' placeholder='Entrer votre prenom' name='prenom' required='')
        label(for='email')
          b Email
        input(type='text' placeholder='Entrer votre mail' name='email' required='')
        label(for='sexe')
          b Sexe
        select#sexe(name='sexe')
          option(value='masculin')  Masculin
          option(value='feminin')  Feminin
          option(value='autre')  Autre
        br
        label(for='taille')
          b Taille
        input#taille(type='number' placeholder='en cm' name='taille' min='100' max='272')
        label(for='poids')
          b Poids
        input#poids(type='number' placeholder='en kg' name='poids' min='0' max='300')
        input(type='password' placeholder='Même mot de passe' name='repeat-mdp' required='')
        label(for='date')
          b Date de naissance
        input(type='date' name='date' required='')
        label
          input(type='checkbox' checked='checked' name='rappeller' style='margin-bottom:15px')
          |  Se rappeller de moi

        div
          button.modifiercomptebtn(type='submit') Appliquer les modifications
